body {
  background-color: #B1FFFF;
  margin-top: 4em;
  margin-bottom: 4em;
}

* {
  margin-left: auto;
  margin-right: auto;
  width: 50em;
}

h1 {
  font-family: Georgia;
  color: #8933E8;
}

h2 {
  font-family: Georgia;
  color: #8933E8;
}

h4 {
  font-family: Georgia;
  color: #8933E8;
}

p {
  font-family: Georgia;
  color: #8933E8;
}