:root {
  background-color: #FFFAD2;
  margin-top: 2em;
  margin-bottom: 2em;
  margin-left: 2em;
  margin-right: 2em;
  width: auto;
}

body {
  width: auto;
  border: 0.5em double #E8CDB8;
  border-radius: 25px;
  padding-top: 0;
}

#one {
  height: 8em;
  width: 100%;
  overflow: auto;
  margin-top: 0;
  margin-right: 0;
  margin-left: 0;
  display: inline-block;
  vertical-align: middle;
  background-color: #E8CDB8;
}

h1 {
  color: #A8A2E8;
  text-align: center;
  font-size: 300%;
  font-family: Georgia;
}

#two {
  height: 1.5em;
  width:100%;
  overflow-right: auto;
  margin-top: 0;
  margin-right: 0;
  margin-left: 0;
  padding-bottom: 0em;
  padding-top: 0;
  display: inline-table;
  vertical-align: middle;
  background-color: #A8A2E8;
}

table {
  font-size: 16px;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  font-family: Georgia;
}

td {
  padding-left: 1em;
  padding-right: 1em;
}

a {
  color: #B1FFFF;
  text-decoration: none;
}

a:visited {
  color: #FF73C7;
  text-decoration: none;
}

.three {
  float: left;
  display: inline-block;
  margin-top: 2em;
  margin-bottom: 1em;
  margin-left: 2em;
  margin-right: 1em;
  border: 0.25em dotted #FF73C7;
  padding-left: 0.5em;
  padding-right: 0.5em;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}

h3 {
  display: inline-block;
  margin-top: 2em;
  font-family: Georgia;
  color: #A8A2E8;
}

p {
  margin-left: 2em;
  margin-right: 3em;
  font-family: Georgia;
  color: #A8A2E8;
}

.h_line {
  border: none;
  border-top: 0.25em solid #E8CDB8;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

#Picture_Link_1 {
  margin-top: 2em;
  margin-left: 20%;
  padding-right: 0;
  display: inline-block;
  font-family: Georgia;
  color: #FF73C7;
  text-align: center;
}

#Picture_Link_2 {
  margin-top: 2em;
  padding-left: 3em;
  padding-right: 3em;
  display: inline-block;
  font-family: Georgia;
  color: #FF73C7;
  text-align: center;
}

#Picture_Link_3 {
  margin-top: 2em;
  margin-right: 20%;
  padding-left: 0;
  display: inline-block;
  font-family: Georgia;
  color: #FF73C7;
  text-align: center;
}

#four {
  height: 1.5em;
  width: 12em;
  margin-top: 0.75em;
  margin-bottom: 0.75em;
  margin-left: auto;
  margin-right: auto;
  display: block;
  background-color: #B1FFFF;
  font-family: Georgia;
  color: #A8A2E8;
  text-align: center;
  font-size: 1.5em;
  border-radius: 25px;
  padding-top: 0.5em;
  padding-bottom: 0;
}

a.purple {
  color: #A8A2E8;
  text-decoration: none;
}

a.purple:visited {
  color: #FF73C7;
  text-decoration: none;
}

a.pink {
  color: #FF73C7;
  text-decoration: none;
}

a.purple:visited {
  color: #FF73C7;
  text-decoration: none;
}